*.pyc
*.pyo
*.log
*.pot
.pytest_cache/
**__pycache__/
venv/
.venv
*.idea/
.idea/
/.idea/
__pycache__/
/.sqlite3
*.pyd__pycache__/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
local_settings.py
db.sqlite3
db.sqlite3-journal
media
